.view, .recipient-container {
  display: flex;
  flex-direction: column;
}

.view, .col {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.view .row {
  display: flex;
  flex-direction: column;
  
  /*! order: ; */
  justify-content: flex-start;
}
