/* Global CSS variables used for each page */
:root {
    --brown-accent: #9d6f57;
    --dark-blue-bg: #233572;
    --card-blue-bg: #2d4293;
    --light-blue-bg: #5173fa;
    --light-text: #efedf1;
    --input-border: rgba(239, 237, 241, 0.3);
}