/* Reusable styles for components*/

.input-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 6px;
}

.input-label {
    font-size: 15px;
    font-weight: 500;
    color: var(--light-text);
    opacity: 0.85;
}

.input-field {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--input-border);
    border-radius: 0;
    padding: 12px 0;
    font-size: 16px;
    color: var(--light-text);
    font-family: inherit;
    transition: all 0.3s ease;
    width: 100%;
    box-sizing: border-box;
}

.input-field:focus {
    outline: none;
    border-bottom-color: var(--light-text);
}

/* Removes autofill background color */
.input-field:-webkit-autofill,
.input-field:-webkit-autofill:hover,
.input-field:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px var(--dark-blue-bg) inset;
    -webkit-text-fill-color: var(--light-text);
    transition: background-color 5000s ease-in-out 0s;
}
